.mainConatiner1 {
  display: flex;
}

.container1 {
  border: 1px solid #d3d3d3;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  margin-left: 60px;
}

.logo {
  margin-top: 40px;
}
.category {
  margin-top: 30px;
  margin-left: 20px;
}

p {
  font-size: 25px;
}

.mainConatiner1:hover {
  transform: scale(1.1);
  cursor: pointer;
}
